/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar,
.card {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.card {
  margin: 8px;
}

.btn {
  border-radius: 100px;
}

body {
  background-color: #ffc107;
}

.app-container {
  height: 90vh;
}
.app {
  padding: 30px;
  margin: 30px;
}
